<main class="main bg-white" ng-controller="RegisterController" id="registerpage">
    <div id="loader" ng-show="!registerloaded"></div>
    <section class="is-onboarding" ng-show="registerloaded">
        <div class="pos-rel background-is-filtered black-filtering">
            <img src="../assets/uploads/onboarding.jpg" alt="" class="featured-image-desktop ">
        </div>
        <div class="pos-rel">
            <section class="background-is-filtered black-filtering">
                <img src="../assets/uploads/onboarding.jpg" alt="" class="featured-image-mobile ">
            </section>

            <section class="maxwidth-500 mx-auto wrapper microtext onboarding-content"><img src="../assets/uploads/bookier.png" alt="bookier logo" class="logo-onboarding mx-auto">
                <p class="nanotext tx-c mb-3 ff-heading">Learning Re-Imagined</p><form action="#" method="post" class="nanotext">
                    <div class="d-flx flx-dir-c">
                        <label class="mt-h mb-h">Full name</label>
                        <input type="text" ng-model="fullname" name="fullname" id="name" class="px-h" autofocus placeholder="Enter your full name">
                    </div>
                    <div class="d-flx flx-dir-c pt-1">
                        <label class="mt-h mb-h">Email address</label>
                        <input type="text" ng-model="email" name="email" id="email" class="px-h" placeholder="Enter your email address">
                    </div>
                    <div class="d-flx flx-dir-c pt-1">
                        <label for="password" class="mt-h mb-h">Password</label>
                        <input type="password" ng-model="password" name="password" id="password" class="px-h" placeholder="Enter your password">
                    </div>
                    <div class="d-flx flx-dir-c pt-1">
                        <label for="password" class="mt-h mb-h">Confirm Password</label>
                        <input type="password" ng-model="confirm_password" name="confirm_password" id="confirm_password" class="px-h" placeholder="Confirm password">
                    </div>
                </form><div class = "d-flx al-i-c j-c-sb mt-2h"><p class="m-0 primarytext ff-heading">Already have an account? <a class="noaccount" ui-sref="login">Sign In</a></p><button class="btn btn-standard btn-dark p-0" ng-click="register();">Next</button></div>
            </section>
        </div>
    </section>
</main>